<div class="fs-where-to-buy">
	<div class="page-width">	      
    <div class="grid grid--1-col-tablet-down grid--3-col-desktop">
      <div class="grid__item two-sixths">
        <div class="location_col">
          <h2 class="main-location"><p><a href="https://redrumartistsupplies.com/">AUSTRALIA</p></h2>
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Redrum Artist Supplies</b></h4>
              <address>6 Lawson Court<br/> Hoppers Crossing, Vic 3029</address>	
              <a href="tel: +61 408 257 304">+61 408 257 304</a>
            </div>	
          </div> 
               	
          <h2 class="main-location">CALIFORNIA</h2>
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Art Supply Warehouse</b></h4>
              <address>6672 Westminster Blvd<br/> Westminster, CA 92683</address>	
              <a href="tel:(714) 891-3626">(714) 891-3626</a>
            </div>	
          </div>
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Gramercy Art Gallery & Studio</b></h4>
              <address>6718 Magnolia Ave<br/>Riverside , CA 90232</address>	
            </div>	
          </div>
                                    	
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Graphaids</b></h4>
              <address>3030 La Cienega Blvd<br/> Culver City, CA 90232</address>	
              <a href="tel:(310) 204-1212">(310) 204-1212</a>
            </div>	
          </div>
        
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Laguna Art Supply & Framing</b></h4>
              <address>376 Ocean Ave. <br>Laguna Beach, CA 92651</address>	
              <a href="tel:(949) 494-8867">(949) 494-8867</a>
            </div>	
          </div>
        
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Raw Materials Art Supplies</b></h4>
              <address>645 S Los Angeles St <br>Los Angeles, CA 90014</address>	
              <a href="tel:(213) 627-7223">(213) 627-7223</a>
            </div>	
          </div>
        
          <div class="sub-location">
            <div class="contact-details">
              <h4 class="location"><b>Urge Palette Art Supplies</b></h4>
              <address>3635 9th Street<br>Riverside, CA 92501</address>	
              <a href="tel:(951) 782-0414">(951) 782-0414</a>
            </div>	
          </div>
                  
        </div>
      </div>
            
            <div class="grid__item two-sixths">
          		<div class="location_col">
          			                                  
                  	<h2 class="main-location">MISSOURI</h2>
                  	<div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Studio247</b></h4>
                        <address>219 N 3rd Street<br>Hannibal, Missouri 63401</address>	
                        <a href="tel:(573) 541-9466">(573) 541-9466</a>
                      </div>	
                  	</div>
                  
                  <h2 class="main-location">NEW ZEALAND</h2>
                  	<div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Takapuna Art Supplies</b></h4>
                        <address>498 Peak Road, <br>Helensville 0875, New Zealand</address>	
                        <a href="tel:(714) 891-3626">+64 9 489 7213 6</a>
                      </div>	
                  	</div>
                  
                  	<h2 class="main-location">OREGON</h2>          
                      <div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Columbia Art & Drafting</b></h4>
                        <address>1515 E Burnside St<br>Portland, OR 97214</address>	
                        <a href="tel:(503) 232-2216">(503) 232-2216</a>
                      </div>	
                  	</div>
                  
                  <div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Layor Art + Supply</b></h4>
                        <address>1000 NW Wall Street Suite 110 <br>Bend, Oregon 97703</address>	
                        <a href="tel:(714) 891-3626">(714) 891-3626</a>
                      </div>	
                  	</div>
                
                  	<h2 class="main-location">UTAH</h2>
                  	<div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>The Artist Corner</b></h4>
                        <address>380 S. Orem Blvd. <br>Orem, UT 84058</address>	
                        <a href="tel:(801) 447-1683">(801) 447-1683</a>
                      </div>	
                  	</div>
                  
              	</div>
        	</div>
          
         	<div class="grid__item two-sixths">
          		<div class="location_col">
          			<h2 class="main-location">WASHINGTON</h2>
                                  	<div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Olyphant Art Supply</b></h4>
                        <address>119 5th Ave SE <br>Olympia, WA 98501</address>	
                        <a href="tel:(360) 943-1295">(360) 943-1295</a>
                      </div>	
                      </div>
                  <div class="sub-location">
                      <div class="contact-details">
                        <h4 class="location"><b>Push/Pull</b></h4>
                        <address>2000 NW Market Street<br>Seattle, WA 98107</address>	
                        <a href="tel:(206) 789-1710">(206) 789-1710</a>
                      </div>	
                  	</div>                
                  	</div>	
                  	<div class="bottom-image">
                      
                      {% comment %} <img src="https://cdn.shopify.com/s/files/1/0252/2021/8973/files/DSC03379.png?17371" width="248.75" height="588.5" border="0" <br>
                      
                    	<img class="floating-image floating-image-below" src="{{"grey-brush_2x.png" | asset_url }}"/> {% endcomment %}
                  	</div>
                  </div>
              	
        	</div>
          
      	 </div>
      
  	</div>
</div>

<style>
@media screen and (max-width: 749px) {
  .fs-where-to-buy{
    text-align: center;
  }
}
</style>
{% schema %}

{
  "name": "Where to buy",
  "class": "where-to-buy-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "page_banner",
      "label": "Page banner"
    }
  ]
}

{% endschema %}